<%= form_for [@user, @post, @comment] do |c| %>

  <div class="field">
    <%= c.label :description %>
    <%= c.text_area :description %>
  </div>

  <div class="actions">
    <%= c.submit %>
  </div>
<% end %>
