/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

@import "bootstrap-sprockets";
@import "bootstrap";

.big-title {
  font-size: 35px;
}

.btn-success {
  background-color: indianred;
  border-color: indianred;
}

.link {
  background-color: dodgerblue;
}

.media-body {
  border-top: 2px solid lightgrey;
  margin-top: 10px;
}

.media {
  margin: 40px 0 40px 10px;
}

.navbar-default {
  background-color: dodgerblue;

  .navbar-text {
    color: white;
    margin: auto 5px;
  }

  .navbar-brand {
    color: white;
  }
}

.post-container {
  width: 85%;
  margin: 0 auto;
}

a {
  color: white;
  &:hover {
    color: white;
    text-decoration: none;
}
}

body {
  padding-top: 60px;
}

footer {
  margin: 100px 10px;
}

h1 {
  margin-left: 20px;
}

img {
  border-radius: 10px;
}
 li {
   list-style-type: none;
 }
