/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
@import "bootstrap-sprockets";
@import "bootstrap";

* {
  font-family: Arial;
}

.container {
  color: #737373;
}

.color {
  color: white;
}

.big-title {
  font-size: 35px;
}

.md-title {
  font-size: 20px;
}

.small-title {
  font-size: 17px;
}

.post-on {
  margin-bottom: 17px;
}

.btn-success {
  background-color: indianred;
  border-color: indianred;
}

.bottom-btn {
  margin-bottom: 50px;
}

.count {
  float: right;
  font-size: 20px;
}

#error_explanation {
  background-color: indianred;
  padding: 5px 5px 5px 20px;
  color: white;
}

.link {
  background-color: #D9853B;
  color: white;
}

.login {
  width: 35%;
  margin: 0 auto;

  h1 {
    text-align: center;
  }

  button {
    text-align: center;
  }

  input {
    margin: 5px auto;
  }
}

.login-submit {
  width: 14%;
  margin: 0 auto;
}

.post {
  border-top: 2px solid lightgrey;
  margin-top: 10px;
}

.post-section {
  background-color: #74AFAD;
  padding: 55px;
  color: white;
}

.media {
  margin: 40px 0 40px 10px;
}

.margin {
  margin-top: 12px;
}

.profile-heading {
  margin-top: 25px;
}

.navbar-default {
  background-color: #74AFAD;

  .navbar-text {
    color: white;
  }

  .navbar-brand {
    color: white;
  }
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 15px 15px 0;
  color: white;
}

a {
  // color: white;
  &:hover {
    // color: white;
    text-decoration: none;
  }
}

.post-container {
  h1 {
  margin-left: 20px;
  }
}

.profile {
  text-align: center;
  margin-bottom: 45px;
}

body {
  padding-top: 60px;
  padding-bottom: 45px;
  // background-color: #F6F6F6;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 45px;
  background-color: #74AFAD;
  color: white;
  padding-top: 14px;
}

img {
  border-radius: 10px;
}

li {
  list-style-type: none;
}
